/* .newBody{
    background-image: url(https://wallpapersite.com/images/pages/pic_w/8479.jpg);
    background-position: center;
} */
.sizeFixNew{
    color:#ff5252;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black; 
}

.add{
    color: white;
}