/* .newBody{
    background-image: url(https://wallpapersite.com/images/pages/pic_w/8479.jpg);
    background-position: center;
} */
.sizeFixNew{
   
    color:#ff0000;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
}