.universal-nav{
    
    background-color: rgb(143, 143, 194);
    padding: 10px ;
}
.pro{
    color: black;
    padding-right:20px;

}

.pro:hover{
    color: white;
}

.add{
    padding-right:20px;
    color: black;
    
}
.add:hover{
    color: white;
}



.cal{
    padding-right:20px;
    color: black;

}

.cal:hover{
    color: white;
}


.addn{
    padding-right:20px;
    color: black;

}

.add:hover{
    color: white;
}

.addnc{
    padding-right: 20px;
    color: rgb(0, 255, 242);
}

.addnc:hover{
    color: white;
}