.universal-nav{
    
    background-color: bisque;
    padding:110px ;
}
.pro{
    padding-right:20px;

}

.add{
    padding-right:20px;

    
}
.cal{
    padding-right:20px;

}

.addn{
    padding-right:20px;
}

.addnc{
    padding-right: 20px;
}