.AddressSpace{
    margin-top: 20px;
}
.Signup{
    background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80&fbclid=IwAR1e_A4YJjksycbWWOAqi6PpoWUyo9MbUQnHyRIJapd1suRViXenBnKmPHI);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: 

}
.sizeFix{
    color: white;
    font-size: 30px;
    font-weight: 30px;
}