h1{
    text-align: center;
    color: black;
    font-weight: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.button{
    text-align: center;
    margin-right: 20px;
    text-align: center;
}