.header{
    margin-bottom: 2%;
    /* background-image: url(./assets/header_bkgd.jpg);
    background-image: url(./assets/edate_logo1.jpg); */
}


 /* .title{
     text-align: center;
     color: blue;
     text-align: center;
 } */
